# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\E_Drive\IdeaProjects\NodesK\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
