# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\E_Drive\IdeaProjects\RecursCalc_Right\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
